*{
    box-sizing: border-box;
}

.body{
    background-color: #ffffff;
    margin: 25px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    padding: 30px 15px;
    font-weight: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3 {
    font-size: 18px;
}

.section1{
    color: green;
    font-size: 14px;
    border-bottom: 2px solid #C5299BFF;
    padding-bottom: 15px;
}

.section2 {
    color: red;
    font-size: 14px;
    border-bottom: 2px solid blueviolet;
    padding-bottom: 15px;
}

.section3 {
    color: blue;
    font-size: 14px;
   }
